$body-bg: #fff;
$main-font: 'Tahoma';

// $primary-color: #008000;
// $secondary-color: #009a9a;
// $light-color: #f4f4f4;
// $dark-color: #333;

$primary-color: red;
$secondary-color: black;
$light-color: #555;
$dark-color: #460d0d;

$container: 960px;
$section-padding: 40px;
